@using AlgoCode.Application.Features.TestCases.Commands.UpdateTestCase
@model UpdateTestCaseCommand

@{
    string inputs = string.Join(", ", Model.Inputs.Select(x => "" + x + ""));
}
    <div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <form method="post" asp-action="update" asp-controller="testcases" asp-area="admin">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="Inputs">Input</label>
                                <input class="form-control" asp-for="Inputs" value=@inputs/>
                                <span class="text-danger" asp-validation-for="Inputs"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ExpectedOutput">Expected Output</label>
                                <input class="form-control" asp-for="ExpectedOutput">
                                <span class="text-danger" asp-validation-for="ExpectedOutput"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ProblemId">Problems</label>
                                <select class="form-control" asp-for="ProblemId" asp-items="@ViewBag.SelectItems"></select>
                                <span class="form-text text-danger" asp-validation-for="ProblemId"></span>
                            </div>

                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>