﻿@using AlgoCode.Application.Features.AppUser.Commands.RegisterUser
@model RegisterUserCommand

<section class="vh-140 signup-section" style="background-color: #f4f1ec;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 d-none d-md-block">
                            @* <img src=""
                                 alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" /> *@
                        </div>
                        <div class="col-md-6 col-lg-6 d-flex align-items-center">
                            <div class="login-card">
                                <p><img src="~/assets/img/fana-logo.svg" alt=""></p>
                                <form asp-controller="account" asp-action="register" method="post" class="login-form">
                                    <input asp-for="UserName" spellcheck="false" class="control" type="text" placeholder="Username" />
                                    <span asp-validation-for="UserName"></span>
                                    <input asp-for="Email" spellcheck="false" class="control" type="text" placeholder="Email" />
                                    <span asp-validation-for="Email"></span>
                                    <div class="password">
                                        <input asp-for="Password" spellcheck="false" class="control" id="password" type="password"
                                               placeholder="Password" />
                                        <button class="toggle" type="button"
                                                onclick="togglePassword(this)"></button>
                                        <span asp-validation-for="Password"></span>
                                    </div>
                                    <div class="password confirm-password">
                                        <input asp-for="ConfirmPassword" spellcheck="false" class="control" id="confirmPassword" type="password"
                                               placeholder="Confirm Password" />
                                        <button class="toggle confirm-password" type="button"
                                                onclick="togglePasswordConfirm(this)"></button>
                                        <span asp-validation-for="ConfirmPassword"></span>
                                    </div>
                                    <button class="control" type="submit">Register</button>

                                    <a asp-controller="account" asp-action="login"><span>Already have an account? Login now</span></a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>﻿